html {
  scroll-behavior: smooth;
}
.menu-link a {
color:white;
border-right: 1px solid #fff3;
padding: 0px 10px 0px 5px;
font-size: 13px;
}
.menu-link-l a {
color:white;
font-size: 13px;
}

.menu-link a:last-child {
border-right: none;
}

.menu-link {
text-align: right !important;
}
.menu-link-l {
text-align: left !important;
}
a:hover {
color: unset !important;
}
.icon-top {
padding-left: 6px;
}
.icon-store {
color: #ffce00;
border-radius: 3px;
padding: 5px;
margin-right:6px;
}
.container {
    max-width: 90% !important;
}

    @media all and (max-width : 992px) {
.container {
margin: 0 !important;
    padding: 0px !important;
    max-width: 100% !important;
}
}


.page {
background-color: #e6ebee !important;
margin-left: -1px !important;
margin-right: -1px !important;
margin-top: -1px;
padding-bottom: 20px;
}
    @media all and (max-width : 380px) {
.page {
padding-bottom: 20px;
}
}

h1 {
    font-family: 'Exo', sans-serif !important;
    font-weight: 600 !important;
    font-size: 30px  !important;
    line-height: 40px !important;
    color: #5b5b63 !important;
    padding: 20px 0px 8px 8px !important;}
    @media all and (max-width : 380px) {
h1 {
font-size:28px;}
}
    @media all and (max-width : 992px) {
h1 {
font-size:20px;}
}


h5 {
    padding: 7px 19px 0px 19px !important;
    font-size: 20px !important;
    font-weight: 600 !important;
}
.bolder {
    display: contents !important;
    font-weight:800;
}
.row {
/*padding:0px 20px !important;*/
margin-left:0px !important;
margin-right:0px !important;
}
@media all and (max-width : 380px) {
.row {
display:block;}
}
.row-k {display: -ms-flexbox;
display: -webkit-box;
display: flex;
-ms-flex-wrap: wrap;}
@media all and (max-width : 500px) {
.row-k {display: -ms-flexbox;
display: block;
-ms-flex-wrap: wrap;}
}
.row-blocks {
padding: 0px 20px 0px 0px !important;
}
@media all and (max-width : 992px) {
.row-blocks {
display:none !important;}
}
.header {
background-image: -webkit-linear-gradient(355deg,#9e052c 30%,#d03248 50%);
background-image: -o-linear-gradient(355deg,#9e052c 30%,#d03248 50%);
background-image: linear-gradient(355deg,#9e052c 30%,#d03248 50%);
}
@media all and (max-width : 992px) {
.header {
display:none !important;}
}
.price {
font-family: 'Exo', sans-serif;
font-size: 33px;
color: #d03248;
font-weight: 800;
}
.tpi {
    padding-top: 14px;
}
.van {
padding: 8px 0px 0px 0px !important;
margin-left: 10px !important;
margin-right: 0 !important;
}
.dual-one {
text-transform: uppercase;
font-weight: 800;
font-style: italic;
display: inline !important;
}
.dual-two  {
text-transform: uppercase;
font-weight: 400;
font-style: italic;
display: inline !important;
padding-left: 4px;
}

.sh {
font-size: 11px !important;
color: white !important;
font-weight: 600 !important;
font-family: 'Exo', sans-serif !important;
background: #37b958 !important;
padding: 0px 11px 0px 0px !important;
letter-spacing: 0.5px !important;
border-radius: 90px;
margin-top: 6px;
}
.van-b {
    margin: 0px !important;
    padding: 4px 10px 25px 10px !important;
}
.price-small {
font-size: 18px !important;
position: relative;
top: -11px;
left: 2px;
}
.header-top {
box-shadow: 0px 26px 27px -21px rgba(34, 34, 34, 0.84);
-webkit-box-shadow: 0px 26px 27px -21px rgba(34, 34, 34, 0.84);
padding: 14px 0px;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
}
@media all and (max-width : 380px) {
.header-top {
padding:16px 0px !important;}
}
.details {
font-size: 12px;
padding: 6px 10px;
font-family: 'Exo', sans-serif;
color: #878787;
}
/** 8. Tab Bar **/
.tabBar {
padding-bottom: 80px;
margin-top: 30px;
clear: both;
text-align: center;
font-family: exo;
}
/** 16. ANIMATIONS **/
.animated {
-webkit-animation-duration: 1s;
-moz-animation-duration: 1s;
-o-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
-moz-animation-fill-mode: both;
-o-animation-fill-mode: both;
animation-fill-mode: both
}
@-webkit-keyframes fadeInRight {
0% {
opacity: 0;
-webkit-transform: translateX(10px)
}
100% {
opacity: 1;
-webkit-transform: translateX(0)
}
}
@-moz-keyframes fadeInRight {
0% {
opacity: 0;
-moz-transform: translateX(10px)
}
100% {
opacity: 1;
-moz-transform: translateX(0)
}
}
@-o-keyframes fadeInRight {
0% {
opacity: 0;
-o-transform: translateX(10px)
}
100% {
opacity: 1;
-o-transform: translateX(0)
}
}
@keyframes fadeInRight {
0% {
opacity: 0;
transform: translateX(10px)
}
100% {
opacity: 1;
transform: translateX(0)
}
}
.fadeInRight {
-webkit-animation-name: fadeInRight;
-moz-animation-name: fadeInRight;
-o-animation-name: fadeInRight;
animation-name: fadeInRight
}
/*** VIDEO STYLING (OBJECTS) (DEPRECATED) ***/
.videoWrapperContainer {
width: 70%;
margin: 0 auto;
}
.videoWrapper {
position: relative;
padding-bottom: 56.25%;
padding-top: 25px;
height: 0;
}
.videoWrapper object,
.videoWrapper embed {
position: absolute;
margin: 20px auto 0 auto;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
#tab2,
#tab3,
#tab4,
#tab5,
#tab6 {
display: none;
}
.tabBar input[type=radio] {
visibility: hidden;
margin: 0;
padding: 0;
height: 0;
width: 0;
position: absolute;
}
.tablinks {
display: inline-block;
margin-left: -4px;
margin-right: 1%;
padding-top: 0;
cursor: pointer;
width: 19%;
height: 45px;
line-height: 45px;
background-color: #EFF0EB;
color: #666666;
text-align: center;
font-size: 16px;
transition: all 0.1s;
margin-bottom: 10px;
}
.tabBar label:last-of-type {
margin-right: 0;
}
@media only screen and (max-width: 660px) {
.contentBorder {
    padding-left: 2%;
}
.tabBar label {
width: 47%;
margin-right: 1%;
margin-bottom: 10px !important;
margin-left: 1%;
}
}
.tablinks:hover {
background-color: #d03248;
color: #fff;
text-decoration: none;
cursor: pointer;
transition: all 0.1s;
}
#tab1-btn:checked+.tablinks,
#tab2-btn:checked+.tablinks,
#tab3-btn:checked+.tablinks,
#tab4-btn:checked+.tablinks,
#tab5-btn:checked+.tablinks,
#tab6-btn:checked+.tablinks {
background-color: #d03248;
color: #fff;
text-decoration: none;
cursor: pointer;
transition: all 0.1s;
}
#tab1-btn:checked~#tab1 {
display: block;
}
#tab1-btn:checked~#tab2,
#tab1-btn:checked~#tab3,
#tab1-btn:checked~#tab4,
#tab1-btn:checked~#tab5,
#tab1-btn:checked~#tab6 {
display: none;
}
#tab2-btn:checked~#tab2 {
display: block;
}
#tab2-btn:checked~#tab1,
#tab2-btn:checked~#tab3,
#tab2-btn:checked~#tab4,
#tab2-btn:checked~#tab5,
#tab2-btn:checked~#tab6 {
display: none;
}
#tab3-btn:checked~#tab3 {
display: block;
}
#tab3-btn:checked~#tab1,
#tab3-btn:checked~#tab2,
#tab3-btn:checked~#tab4,
#tab3-btn:checked~#tab5,
#tab3-btn:checked~#tab6 {
display: none;
}
#tab4-btn:checked~#tab4 {
display: block;
}
#tab4-btn:checked~#tab1,
#tab4-btn:checked~#tab2,
#tab4-btn:checked~#tab3,
#tab4-btn:checked~#tab5,
#tab4-btn:checked~#tab6 {
display: none;
}
#tab5-btn:checked~#tab5 {
display: block;
}
#tab5-btn:checked~#tab1,
#tab5-btn:checked~#tab2,
#tab5-btn:checked~#tab3,
#tab5-btn:checked~#tab4,
#tab5-btn:checked~#tab6 {
display: none;
}
#tab6-btn:checked~#tab6 {
display: block;
}
#tab6-btn:checked~#tab1,
#tab6-btn:checked~#tab2,
#tab6-btn:checked~#tab3,
#tab6-btn:checked~#tab4,
#tab6-btn:checked~#tab5 {
display: none;
}
.tabContent {
clear: both;
color: #222;
text-align: left;
overflow: auto;
font-size: 16px;
line-height: 1.5;
padding-top: 0;
}
.tabContent img {
max-width: 100%;
}
.tabContent p {
margin: 0;
padding: 0;
}
.tabContent a,
.tabContent a:visited {
color: #d03248;
text-decoration: none;
}
.tabContent a:hover {
text-decoration: underline;
font-weight: 700;
}
.tabContent h1,
.tabBar h1,
.tabContent h2,
.tabBar h2 {
font-weight: 300;
font-size: 22px;
transition: all 0.1s;
margin-top: 10px;
margin-bottom: 20px;

}
.tabContent h1:hover,
.tabBar h1:hover,
.tabContent h2:hover,
.tabBar h2:hover {
color: #d03248;
cursor: default;
transition: all 0.1s;
}
.tabContent ul,
.tabContent ol {
display: block;
text-align: left;
margin: 0;
position: relative;
line-height: 1.5;
}
.tabContentFeaturesList {
margin: 0 auto !important;
padding: 0 0 0 20px;
max-width: 350px;
list-style: none;
text-align: left;
}
.tabContentFeaturesList li {
margin-bottom: 10px;
}
.tabContentFeaturesList i {
margin-right: 8px;
}
.btn2 {
	background: #0a71d3 !important;
	color: white !important;
    padding: 8px 14px !important;
    font-size: 12px !important;
    letter-spacing: 0.3px !important;
    border: none !important;
    border-radius:4px !important;
}
.btn2:hover {
-webkit-box-shadow: inset 20em 0 0 0 var(--hover);
        box-shadow: inset 20em 0 0 0 var(--hover);
border: none !important;
color: black !important;
opacity: 1 !important;}
.btn2 {
    --color: #0a72d4;
    --hover: #ffcc00;
}

.block-brand {
width:90px;
}
.re {
padding-right:8px;
}
.rp {
    font-family: 'Exo', sans-serif;
    color: #858585;
    font-size: 13px;
    line-height: 26px;
}
.dt {padding-top:10px;}
.db {padding-bottom:14px;margin-bottom: 10px;}

.header-middle {
display:-webkit-box;
display:-ms-flexbox;
display:flex;
padding: 40px 0px;
-webkit-padding-before: 40px;
-webkit-padding-after:40px;
}
@media all and (max-width : 380px) {
.header-middle {
display:-ms-grid;
display:grid;
padding: 28px 0px 28px 0px;}
}

* { 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.shp {
margin-right: 4px;
background: #11a837;
padding: 8px 9px;
border-radius: 90px 0px 0px 90px;
margin-right: 3px !important;
}
 /************************* IMAGE GALLERY ********************/

.image-galerry-frame {
    border: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

.image-gallery {
    position: relative;
    width: 100%;
    margin: 0 auto;
}


/* settig for images in the middle */

.image-gallery-slider {
    padding-top: 250px;
    display: block;
    text-align: center;
}

.image-gallery-slider .image-thumbnail {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 50;
    background: #ffffff;
    padding: 4px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.vn {
display: table !important;
margin: auto;
font-size:36px;
padding-bottom:12px;
color:#116ecc;
}

.vn-text {
font-family: exo;
font-size: 12px;
line-height: 18px;
text-align: center;
margin-top: -10px;
}

.vn-title {
font-family: exo;
font-size: 14px;
font-weight: 700;
line-height: 18px;
text-align: center;
}

.image-gallery-slider .image-thumbnail img {
    max-width: 100%;
    max-height: 455px;
    border-radius: 3px;
    margin: 50px auto;
      /* -webkit-box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.15);
          -moz-box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.15); */
}

.image-gallery-slider label {
height: auto !important;
width: 23% !important;
display: inline-block;
vertical-align: middle;
cursor: pointer;
-webkit-transition: all .5s;
-o-transition: all .5s;
transition: all .5s;
opacity: 1;
float: none !important;
padding: 0px !important;
margin: 0px !important;
}

.image-gallery-slider label img{
/* -webkit-box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.15); */
}

.image-gallery-slider label img {
    max-width: 100%;
    width: auto;
    padding: 0px;
    max-height: 100px;
    border-radius: 0px;
}

.image-gallery-slider label:hover {
/* border-bottom: 1px solid #46b8f0; */
-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
        transform: scale(1.05)
/* -webkit-box-shadow: 0px -15px 20px -20px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -15px 20px -20px rgba(0,0,0,0.75);
box-shadow: 0px -15px 20px -20px rgba(0,0,0,0.75); */
}




@media(max-width:992px) {

    .image-gallery-slider {
        padding-top: 470px;
    }
    .image-gallery-slider .image-thumbnail {
         height: 455px;
         max-height: 570px;
        padding: 0px;
    }
    .image-gallery-slider .image-thumbnail img {
    max-height: 420px;
    }
    .image-gallery-slider label {    
    height: 82px;
    width: 80px;
    margin-right: 10px;
    float: none!important;
    }
    .image-gallery-slider label img {
        max-height: 80px
    }
}
@media(min-width:992px) {

    .image-gallery-slider {
        padding-top: 135%;
    }
    .image-gallery-slider .image-thumbnail img {
    max-height: 420px;
    }
    .image-gallery-slider label {    
    height: 82px;
    width: 80px;
    margin-right: 10px;
    float: none!important;
    }
    .image-gallery-slider label img {
        max-height: 80px
    }
}




@media(max-width:992px) {
    .image-gallery {
        position: relative;
        width: 100%;
        margin: 0 auto
    }
    .image-gallery-slider {
        width: 100%;
        padding-top: 280px;
        position: relative;
    }
    .image-gallery-slider .image-thumbnail {
        max-height: 250px;
        padding: 0px;
    }
    .image-gallery-slider .image-thumbnail img {
        max-height: 410px;
    }
    .image-gallery-slider label {
        height: 88px;
        width: 88px;
        margin-right: 5px;
        float: none!important;
    }
    .image-gallery-slider label img {
        max-height: 86px;
    }
}

@media(max-width:600px) {
    .image-gallery {
        position: relative;
        width: 90%;
        margin: 0 auto
    }
    .image-gallery-slider {
        width: 100%;
        padding-top: 460px;
        position: relative;
    }
    .image-gallery-slider .image-thumbnail {
        max-height: 430px;
        padding: 0px;
    }
    .image-gallery-slider .image-thumbnail img {
        max-height: 410px;
    }
    .image-gallery-slider label {
        height: 88px;
        width: 88px;
        margin-right: 5px;
        float: none!important;
    }
    .image-gallery-slider label img {
        max-height: 86px;
    }
}

@media(max-width:480px) {
    .image-gallery {
        position: relative;
        width: 100%;
        margin: 0 auto
    }
    .image-gallery-slider {
        width: 100%;
        padding-top: 280px;
        position: relative;
    }
    .image-gallery-slider .image-thumbnail {
        max-height: 350px;
        padding: 10px;
        text-align: center
    }
    .image-gallery-slider .image-thumbnail img {
        max-height: 320px
    }
    .image-gallery-slider label {
        height: 80px;
        width: 78px;
        margin-right: 2px;
        float: none!important
    }
    .image-gallery-slider label img {
        max-height: 80px
    }
}

@media(max-width:414px) {
    .image-gallery {
        position: relative;
        width: 100%;
        margin: 0 auto
    }
    .image-gallery-slider {
        width: 100%;
        padding-top: 300px;
        position: relative;
    }
    .image-gallery-slider .image-thumbnail {
        max-height: 255px;
        padding: 10px;
        text-align: center
    }
    .image-gallery-slider .image-thumbnail img {
        max-height: 230px
    }
    .image-gallery-slider label {
        height: 60px;
        width: 60px;
        margin-right: 10px;
        float: none!important
    }
    .image-gallery-slider label img {
        max-height: 58px
    }
}

@media(max-width:320px) {
    .image-gallery {
        position: relative;
        width: 100%;
        margin: 0 auto
    }
    .image-gallery-slider {
        width: 100%;
        padding-top: 240px;
        position: relative;
    }
    .image-gallery-slider .image-thumbnail {
        max-height: 220px;
        padding: 10px;
        text-align: center
    }
    .image-gallery-slider .image-thumbnail img {
        max-height: 190px;
    }
    .image-gallery-slider label {
        height: 60px;
        width: 60px;
        margin-right: 2px;
        float: none!important
    }
    .image-gallery-slider label img {
        max-height: 58px
    }
}

@media(max-width:240px) {
    .image-gallery {
        position: relative;
        width: 100%;
        margin: 0 auto
    }
    .image-gallery-slider {
        width: 100%;
        padding-top: 170px;
        position: relative;
    }
    .image-gallery-slider .image-thumbnail {
        max-height: 160px;
        padding: 0px;
        text-align: center
    }
    .image-gallery-slider .image-thumbnail img {
        max-height: 140px;
    }
    .image-gallery-slider label {
        height: 44px;
        width: 44px;
        margin-right: 2px;
        float: none!important
    }
    .image-gallery-slider label img {
        max-height: 42px
    }
}



.image-gallery-slider input[name='image-swap'] {
    display: none
}

.image-gallery-slider input[name='image-swap']:checked+label {
    opacity: 0.3;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}



.image-gallery-slider input~.image-thumbnail {
    margin-bottom: 0
}

.image-gallery-slider input[name='image-swap']~.image-thumbnail {
    opacity: 0;
    display: none;
}

.image-gallery-slider input[name='image-swap']:checked+label+.image-thumbnail {
    opacity: 1;
    display: block;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1)
}

.image-gallery-slider #image1+label+.image-thumbnail {
    opacity: 1;
    display: block;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1)
}

 /************************* END IMAGE GALLERY ********************/

.tl {
font-family: 'Exo', sans-serif;
color: white;
font-size: 12px;
text-align: left;
}

@media all and (max-width : 380px) {
.tl {
text-align:center !important;
font-size: 14px !important;
color: white !important;}
.tl a {
font-size: 14px !important;}
}

@media all and (max-width : 992px) {
.tl {
text-align:center !important;
font-size: 11px !important;}
}

.tp {
padding-right:4px;
}
.icon-mid {
padding: 10px;
border-radius: 3px;
color: #ffce00;
max-width: 30%;
margin: auto;
font-size: 14px;
}
.tr {
font-family:'Exo', sans-serif;
color:white;
font-size:14px;
text-align:center;
}

.logo {
width: 90%;
vertical-align: middle;
}
@media all and (max-width : 380px) {
.logo {
width: 88% !important;
padding: 0 23% !important;}
}
@media all and (max-width : 992px) {
.logo {
width: 94%;

padding: 0 39%;}
}
.bordering {
-webkit-box-shadow: 0px 2px 4px 0px #d5dade;
        box-shadow: 0px 2px 4px 0px #d5dade;
background: white;
}
@media all and (max-width : 992px) {
.bordering {
position: relative;
width: 100%;
z-index: 999;
}
}

.block-img {
max-width: 40%;
margin: auto auto;
display: table;
}
.block-img-m {
max-width: 100%;
margin: auto auto;
display: table;
}

.block-title {
font-family:'Exo', sans-serif;
text-align: center;
color: #8c9194;
font-size:16px;
margin-bottom:8px !important;
font-weight: 600;
padding-top: 10px;
}
.block-title-m {
font-family:'Exo', sans-serif;
text-align: left;
color: #8c9194;
font-size:16px;
margin-bottom:8px !important;
font-weight: 600;
padding-bottom: 5px;
margin-bottom: 0px !important;
}

@media all and (max-width : 992px) {
.block-title {
font-size:12px !important;}
}

.left-line {
-webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
display: block;
border-bottom: 1px solid #e3e3e3;
}

.quick-feat {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
padding-bottom: 16px;
text-align: center;
}
.padding-desc {
padding-top:30px;
}
.par-padding {
padding: 0px 21px;
}
.block-desc {
font-family: karla;
text-align: center;
color: #b5b5b5;
font-size: 14px;
}
.block-desc-m {
font-family: exo;
text-align: left;
color: #b5b5b5;
font-size: 12px;
margin: 0 !important;
}

@media all and (max-width : 992px) {
.block-desc {
font-size:12px !important;
}
}

.middle-align {
margin: auto auto !important;
}

// Small devices
@media all and (max-width : 380px) {
.header-middle {
display:-ms-grid;
display:grid;
padding: 36px 0px;}
}
.block-right {
background: white;
padding: 25px;
border-radius: 6px;
-webkit-box-shadow: 0px 4px 4px -1px #a1a9ad33;
        box-shadow: 0px 4px 4px -1px #a1a9ad33;
margin-bottom: 40px;
}

@media all and (max-width : 380px) {
.block-right {
padding:10px !important;
margin: 0px 6px 24px 6px !important;
}
}
@media all and (max-width : 992px) {
.block-right {
padding: 12px;
margin: 90px 14px 24px 14px;}
}


.offset {
    padding-left: unset;
}

// Small devices
@media all and (max-width : 380px) {
.offset {
    padding-left: 46px !important;
}
}

ul li ul li a {
    text-align: left;
    padding: 10px 20px 10px 14px !important;
}
@media all and (max-width : 992px) {
ul li ul li a {padding:18px 20px 18px 60px !important;}
}

.block {
background: white;
padding: 25px;
border-radius: 6px;
-webkit-box-shadow: 0px 4px 4px -1px #a1a9ad33;
        box-shadow: 0px 4px 4px -1px #a1a9ad33;
margin-bottom: 40px;
}
@media all and (max-width : 992px) {
.block {
padding: 12px;
}
}

/* Menu bar and fonts */
.jmenu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
}

/* Menu Button */
input.jm-menu-btn {
  display: none; /* Hide the checkbox */
}

input[type='checkbox'].jm-menu-btn ~ .jm-collapse {
  display: none; /* Hide menu on load */
}

input[type='checkbox']:checked.jm-menu-btn ~ .jm-collapse {
  display: block; /* Open when menu button is clicked */
}
@media all and (max-width : 992px) {
input[type='checkbox']:checked.jm-menu-btn ~ .jm-collapse {
  overflow-x: scroll;
  height: 100vh;
  -webkit-overflow-scrolling: touch;
}
}

label.jm-menu-btn {
color: #ffffff;
background-image: -webkit-linear-gradient(355deg,#9e052c 30%,#d03248 50%);
background-image: -o-linear-gradient(355deg,#9e052c 30%,#d03248 50%);
background-image: linear-gradient(355deg,#9e052c 30%,#d03248 50%);
cursor: pointer;
display: block;
padding: 18px 22px;
font-family: 'Exo', sans-serif;
font-size: 23px;
font-weight: 800;}

label.jm-menu-btn:hover {
}


@media all and (min-width : 992px) {
.jm-collapse {
display: table !important;
width: 100%;
}}
@media all and (min-width : 380px) {
.jm-collapse {
background: white;}}

.top-off {
padding-top: 40px;
}
@media all and (max-width : 380px) {
.top-off {

    padding-top: 90px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100% !important;

}
}

/* Menu Items */
.jmenu ul,
.jmenu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media all and (max-width : 992px) {
.jmenu li {border-top: 1px solid #f2f2f2;background: white;}
}
@media all and (max-width : 380px) {
#ves {
    padding: 0px !important;
}
}

/* Links */
.jmenu a {
  color: #363636 !important;
  display: inline-block;
  padding: 20px 32px;
  text-decoration: none;
  font-family: 'Exo', sans-serif;
  font-weight: 600;

text-transform: uppercase;

font-size: 11px;

}
a:hover {
    opacity: 0.6 !important;
    text-decoration: none !important;
    -webkit-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}
.jmenu a:hover {
  color: #c9c9c9; /* White */
}
ul ul {
    z-index: 999;
}
.menu-item {
font-family: 'Exo', sans-serif;
font-size: 13px;
color: #6a6a6a !important;
}
@media (max-width : 380px) {
.menu-item {
font-size: 14px !important;}
}

.fr {
    padding-right: 10px;
}
@media screen and (min-device-width: 1000px) and (max-device-width: 1072px) { 
.fr {
    padding-bottom: 10px;
padding-left: 0px;
padding-right: 0px;
display: block !important;
}
}
/* Submenu Items */
.jmenu ul ul {
  display: none; /* Hidden by default */
}

/* Dropdowns */

.jm-dropdown:hover ul {
  display: -ms-grid;
  display: grid;
}


.jm-dropdown ul {
  background: #fff; /* White */
  padding: 0;
}
label {
margin-bottom: 0px !important;
}
.jm-dropdown ul a,
.jm-dropdown:hover ul a {
  color: #0072bc; /* Blue */
}

.jm-dropdown ul a:hover,
.jm-dropdown:hover ul a:hover {
  color: #000; /* Black*/
}

/* Tertiary+ Menu Items */
ul li::after {
    content: "";
    position: absolute;
    right: 0;
    z-index: 100;
    top: 25%;
    width: 1px;
    height: 50%;
    background: #f6f6f6;
}
ul li:last-child::after {
    background: #fff;
}

/* Icons */ 

.jm-icon-menu::before {
  content: '\2630';
}

@media (min-width: 992px) {
  
  /* Menu items */
  .jmenu li {
    display: table-cell;
    text-align: center;
  }
  
  .jmenu a {
    padding: 16px 8px;
  }
  
  /* Dropdowns */
  .jm-dropdown {
    position: relative;
  }
  
  .jm-dropdown li a {
    display: block;
    padding: 8px 16px;
    white-space: nowrap;
    font-weight: 400;

text-transform: none;
  }
  
  .jm-dropdown ul {
	-webkit-box-shadow: 0px 6px 7px -2px rgba(0, 0, 0, 0.09);
	        box-shadow: 0px 6px 7px -2px rgba(0, 0, 0, 0.09);
	padding: 8px 0;
	position: absolute;
	min-width: 100%;
	border-radius: 0px 0px 6px 6px;
   }
  
  /* Menu Button */
  input.jm-menu-btn,
  label.jm-menu-btn {
    display: none; /* Hide menu button */
  }
  
  input[type='checkbox'].jm-menu-btn ~ .jm-collapse,
  .jm-collapse {
    display: block; /* Show menu */
  }

}
.tabs {
  position: relative;   
  min-height: 200px; /* This part sucks */
  clear: both;
  margin: 20px 20px;
}
.tab {
  float: left;
}
.tab label {
    padding: 10px;
    margin-left: -1px;
    position: relative;
    left: 1px;
background: #e1e1e1;
color: #353535;
    margin-right: 8px;
    border-radius: 5px 5px 0px 0px;
cursor: pointer;
}
@media all and (max-width : 420px) {
.tab label {
    margin-bottom: 8px !important;
border-radius: 0px !important;
margin-right:0px !important;
}
}
.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  top: 45px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px 8px;
border: 1px solid #e4e4e4;
border-radius: 0px 5px 5px 5px;
}
@media all and (max-width : 420px) {
.content {
    top: 100px !important;
}
}
.tab > [type="radio"]:checked ~ label {
    z-index: 2;
    padding: 10px;
    position: relative;
    background-image: -webkit-linear-gradient(355deg,#9e052c 30%,#d03248 50%);
    background-image: -o-linear-gradient(355deg,#9e052c 30%,#d03248 50%);
    background-image: linear-gradient(355deg,#9e052c 30%,#d03248 50%);
    color: white;
    margin-right: 8px;
    border-radius: 5px 5px 0px 0px;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}


#pshead {
  color: #fff;
  background: #01579b;
  display: block;
  padding: 15px 15px;
  font-size: 18px;
}


#pspecs table {
  background: #fff none repeat scroll 0 0;
  border-collapse: collapse;
}

#pspecs table td {
  border: 0 none;
  font-size: 14px;
  margin: 0;
  padding: 15px;
  vertical-align: top;
}
.nwbulletPoint {
  background: #eeeeee none repeat scroll 0 0;
  color: #dc3545;
  font-weight: 700;
  width: 130px;
}
.nwbulletPointValue {
  background: #fff none repeat scroll 0 0;
  width: calc(100% - 200px);
}
#pspecs table td br {
  display: none;
}
.nwbulletPointValue p {
  margin: 0;
}
#pspecs table tr {
  border-style: solid;
  border-width: 1px;
  border-color: #e8e8e8;
  border-bottom: 1px solid #ccc;
  display: block;
  margin-left: 0;
}

#technotes table tr {
border-style: solid;
  border-width: 1px;
  border-color: #e8e8e8;
  /*border-bottom: 1px solid #ccc;*/
  display: block;
  margin-left: 0;
}

#technotes table td {
  border: 0 none;
  font-size: 14px;
  margin: 0;
  padding: 15px;
  vertical-align: top;
}

#technotes table td br {
  display: none;
}

#pshead {
  background: #dc3545 none repeat scroll 0 0;
  color: #fff;
  display: block;
  font-size: 18px;
  padding: 15px;
}

#ms-ref #ms-text ul li span {
  color: #333;
}
#ms-ref #ms-text ul li {
  margin-bottom: 8px;
  color: #dc3545;
}
#ms-ref #ms-text ul {
  margin: 0px;
  padding: 20px 0px 10px 20px;
  font-size: 14px;
}
#ms-ref #ms-text strong {
  font-size: 24px;
  color: #dc3545;
  font-weight:700;
}
#ms-ref #ms-text {
  float: right;
  width: 350px;
}
#ms-text{
    margin-top: inherit;
}
#ms-ref {
  margin: auto;
  width: 700px;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (max-width: 1024px) {	
	
	#ms-ref {
		margin: 50px auto;
		text-align: center;
		width: auto;
	}
	
	#ms-ref #ms-text {
		float: none;
		margin-top: 20px;
		text-align: center;
		width: auto;
	}
	
	#ms-ref #ms-text {
		float: none;
		margin-top: 20px;
		padding-left: 0;
		text-align: center;
		width: auto;
	}
	
	#ms-ref #ms-text ul {
		font-size: 14px;
		list-style: outside none none;
		padding: 10px 0 10px 0px;
		text-align: center;
	}
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}

.img{
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}


.slider {
    text-align: center;
    overflow: hidden;
}
.slides {
    display: block;
    height: 450px;
    margin: 0 auto;
    padding: 0 0 0 30px;
    position: relative;
    width: 450px;
}

.slides input {
    display: none;
}
.slide-container {
    display: block;
}
input:checked+.slide-container .slide {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}
input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
.slide {
    border: none;
    display: block;
    height: 100%;
    opacity: 0;
    padding: 10px;
    position: absolute;
    top: 35px;
    transform: scale(0);
    transition: all 0.7s ease-in-out 0s;
    width: 100%;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.slide img {
    width: 100%;
    height: 100%;
}
.nav-dots {
    width: 100%;
    bottom: 9px;
    height: 11px;
    display: block;
    position: absolute;
    text-align: center;
}
.nav-dots .nav-dot {
    top: -5px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
}
.nav label {
    width: 25px;
    height: 100%;
    display: none;
    position: absolute;
    opacity: 1;
    z-index: 9;
    cursor: pointer;
    transition: opacity .2s;
    color: #FFF;
    font-size: 100pt;
    text-align: center;
    line-height: 450px;
    font-family: "Varela Round", sans-serif;
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}
input:checked+.slide-container .nav label {
    display: block;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.nav .next {
    right: 0;
}